body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(250, 140, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    gap: 20px;
}

.pass {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.pass h2 {
    color: #ff69b4;
    font-size: 24px;
    margin-bottom: 20px;
}

.pass ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

.pass ul li {
    margin-bottom: 10px;
}

.pass button {
    background-color: #ff9fe1;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pass button:hover {
    background-color: #80faaf;
}
